@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  scroll-snap-align: start;
}

.one {
  background-color: #4793af;
}

.two {
  background-color: #ffc470;
}

.three {
  background-color: #dd5746;
}

.four {
  background-color: #8b322c;
}
